.header-page{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 140px;
    height: 45px;
    margin-left: 5vw;
}

