/* all device */

    .banner{
        position: relative;
        width: 100%;
        /* height: 250px; */
    }

    .banner-img{
        position: relative;
        width: 100%;
    }

    .banner > div{
        position: absolute;
        left: 10%;
        top: 30%;
        transform: translateY(50%);
        display: table;
    }

    .banner-title-first{
        margin-bottom: 10px;
        text-align: center;
    }

    .banner-title-second{
        font-size: 16px;
        margin-bottom: 30px;
        text-align: left;
    }

    .btn-span{
        margin-left: 20px;
        font-size: 18px;
        font-weight: 500;
    }

    /* card products*/
    .page-products{
        margin: auto;
        margin-top: 50px;
        /* background: yellow; */

        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        /* align-items: center; */
    }



    .page-products-title-01{
        font-size: 20px;
        padding-bottom: 30px;

    }

    .page-products-view{
        position: relative;
        right: 0;
        bottom: -30px;
    }

    .page-products-title-02{
        padding-bottom: 40px;
    }

    .page-products-galery{
        margin: auto;
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        /* background: green; */
    }

    .page-products-group{
        margin: auto;

        /* min-width: 180px; */
        /* max-width: 180px; */

        margin-top: 30px;
        /* margin-left: 20px; */

        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background: #fff;

        position: relative;

        box-shadow: 0.5px 0.5px 4px rgb(206, 206, 206);
        border-radius: 5px;
        border: solid 0.5px transparent;
    }

    .page-products-group-img{
        /* width: 130px; */
        height: 190px;
        /* margin-bottom: 50px; */
        /* margin-left: 50%; */
        /* transform: translateX(-50%); */
    }

    .page-products-group-info-products{
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        border-top: solid 1px #ccc;
    }



    .page-products-group-title{
        font-size: 22px;
        padding: 5px;
        text-align: center;
    }

    .page-products-group-ref{
        font-size: 10px;
        padding: 0 0 5px 5px;
    }

    .page-products-group-description{
        font-size: 12px;
        padding: 0 5px;
        line-height: 17px;
    }

    .page-products-group-price-down{
        color: red;
        font-size: 12px;
        position: absolute;
        right: 7px;
        bottom: 14px;
    }

    .page-products-group-price{
        padding: 10px;
        font-size: 22px;
    }

    .page-products-group-btn{
        margin-bottom: 5px;
        text-align: center;
    }

    .page-products-group-btn-pay{
        height: 30px;
        color: #fff;
        font-weight: 600;
        background: #1DBF73;
        border: none;
        width: 150px;
    }

    .page-products-group:hover{
        box-shadow: 1px 1px 10px #ccc;
        border-radius: 5px;
        /* cursor: pointer; */
    }

    /* Config of the page */

    /* configuration products */


    .new::after{
        content: "Novo";
        background: blue;
        padding: 5px;
        border-radius: 3px;
        position: absolute;
        top: 5px;
        left: 5px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .delivery::after{
        content: "Frete Grátis";
        background: yellow;
        padding: 5px;
        border-radius: 3px;
        position: absolute;
        top: 5px;
        left: 5px;
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .promocao::after{
        content: "Promoção";
        background: red;
        padding: 5px;
        border-radius: 3px;
        position: absolute;
        top: 5px;
        left: 5px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    /* .page-products-group:nth-child(3n + 1){
        background: url(../img/Vector-1.png) no-repeat center/95%;
        background-position-y: 130px;
    }

    .page-products-group:nth-child(3n + 2){
        background: url(../img/Vector-2.png) no-repeat center/95%;
        background-position-y: 130px;
    }

    .page-products-group:nth-child(3n + 3){
        background: url(../img/Vector-3.png) no-repeat center/95%;
        background-position-y: 130px;
    } */

/* device max-width: 400px */
@media (max-width: 380px){
    .page-products-galery{
        /* flex-flow: wrap; */

    }

    .page-products-group{
        width: 48%;
    }
}

/* device max-width: 800px */
@media (min-width: 381px) and (max-width: 800px){
    .page-products-galery{
        /* flex-flow: wrap; */
    }

    .page-products-group{
        min-width: 180px;
        max-width: 180px;

        margin-top: 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}

/* device min-width: 800px */
@media (min-width: 801px){
    .page-products-galery{
        /* flex-flow: wrap; */
    }

    .page-products-group{
        min-width: 180px;
        max-width: 180px;
        
        margin-top: 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}