.emergency{
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #999;
}

.emergency-group-title{
    margin-bottom: 10px;
}

.emergency-group-title, .emergency-group-subtitle{
    font-size: 20px;    
}

.emergency-group-btn{
    margin-top: 10px;
}

.about-veterinay{
    margin: 30px auto;
    display: flex;
}

.about-veterinay-group{
    padding: 30px;
}

.about-veterinay-subtitle{
    margin: 20px 0; 
}

.about-veterinay-text{
    text-align: justify;
}

.about-veterinay-img{
    width: 250px;
}

.emergency-veterinary{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.emergency-veterinary-subtitle{
    margin: 10px 0;
}

.service-veterinary{
    margin: auto;
    padding: 30px 10px;
}

.service-veterinary-title{
   text-align: center;
   margin: 30px 0;
}

.service-veterinary-group-header{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
.service-veterinary-group-galery{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.service-veterinary-group{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}

.service-veterinary-group-area-text{
    width: 50%;
    /* background: green; */
}

.service-veterinary-group-img{
    /* width: 50%; */
    height: 150px;
    /* background: yellow; */
    /* box-shadow: 1px 1px 5px #999; */
}

.service-veterinary-group-title{
    font-size: 30px;
    margin-bottom: 10px;
}


/* device max-width: 380px */
@media (max-width: 380px){

}

/* device max-width: 800px */
@media (min-width: 381px) and (max-width: 800px){
    .about-veterinay{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-veterinary-group-header{
        display: flex;
        flex-direction: column;
    }
}

/* device min-width: 800px */
@media (min-width: 800px){


}